.SearchTable {
  border-radius: 8px;
}

.cards {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}
.SearchTableTitle {
  width: 25%;
  min-width: 200px;
}

.SearchTableArtist {
  width: 20%;
  min-width: 150px;
}

.SearchTableAlbum {
  width: 25%;
  min-width: 200px;
}

.SearchTableRelease {
  width: 5%;
  min-width: 150px;
}

.SearchTableCover {
  width: 5%;
  min-width: 100px;
}

.SearchTableLenght {
  width: 5%;
  min-width: 100px;
}

.SearchTableGenre {
  width: 10%;
  min-width: 150px;
}

.SearchTablePrice {
  width: 5%;
  min-width: 100px;
}
.pagination {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum", "tnum";
}

.pagination-items {
  color: black;
  text-decoration: none;
  display: flex;
  border: 1px solid #ddd;
  display: inline-block;
  min-width: 32px;
  height: 32px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li.active {
  background-color: #4caf50;
  color: white;
}
.switch-button {
  color: #fff;
  margin-bottom: 8px;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-table-pagination.ant-pagination {
  float: none;
}
@media (max-width: 1150px) {
  .SearchTablePrice {
    display: none;
  }
}

@media (max-width: 1050px) {
  .SearchTableGenre {
    display: none;
  }
}

@media (max-width: 950px) {
  .SearchTableLenght {
    display: none;
  }
}

@media (max-width: 850px) {
  .SearchTableCover {
    display: none;
  }
}

@media (max-width: 700px) {
  .SearchTableRelease {
    display: none;
  }
}

@media (max-width: 600px) {
  .SearchTableAlbum {
    display: none;
  }
}
