@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-header {
  height: 60px;
  padding: 5px;
  margin: 10px;
  background: #656565;
}

.App-title {
  font-size: 2.4em;
  color: white;
}

.App-body {
  margin-top: 20px;
}

@media (max-width: 650px) {
  .App-header {
    height: 45px;
  }

  .App-title {
    font-size: 1.7em;
  }
}

@media (max-width: 468px) {
  .App-header {
    height: 40px;
  }

  .App-title {
    font-size: 1.4em;
  }
}
